{% extends 'layout.njk' %}

{% block header %}
<title>Sobre</title>
{% endblock %}

{% block content %}
    
    <main id="centro-about">

        <div>
            <p id="empresaName">Rocketseat</p>
            <img src="https://pbs.twimg.com/profile_images/953595371875422210/0pWsfSSp_400x400.jpg" alt="">
            <footer id="links">
                <a href="https://github.com/Rocketseat" target="_blank">Github</a>
                <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
                <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
            </footer>
        </div>

        <div>
            <p id="letraDiferente">A rocketseat é uma empresa focada em espalhar o conhecimento, muito conteúdo gratuíto é liberado para milhares de pessoas e a didática é incrível.</p>
            <div id="lista">
                <p>Tecnologias mais usadas pela empresa:</p>
                <ul>
                    <li> <a href="https://developer.mozilla.org/pt-BR/docs/Aprender/JavaScript">Javascript</a></li>
                    <li> <a href="https://nodejs.org/en/">NodeJs</a></li>
                    <li> <a href="https://pt-br.reactjs.org/">React</a></li>
                    <li> <a href="https://reactnative.dev/">React Native</a></li>
                    <li>Muito amor e carinho ♥</li>
                </ul>
            </div>
        </div>

    </main>
    
    {% endblock %}