{% extends 'layout.njk' %}

{% block header %}
<link rel="stylesheet" href="../index.css">
<title>{{item.title}}</title>
{% endblock %}

{% block content %}
    <section class="projects">

        <div class="project_course">
            <img src="{{item.img}}" id="{{item.id}}" alt="{{item.title}}">
            <div class="project_description">
                <p>
                    {{item.modules}}
                </p>
            </div>
            
            <div class="link_project">
                <a id="{{item.id}}" href="{{item.link}}" target="_blank"> {{item.title}} </a>
            </div>
        </div>

    </section>
{% endblock %}